:root {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title{
  margin-bottom: 20px;
}

.text{
  margin-bottom: 20px;
}

.logo{
  margin-bottom: 20px;
}

.divLinks{
  display: flex;
  align-items: center;
}

.divLinks a{
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
}

.primario{
  color: var(--gray-rgb);
  background-color: var(--gray-alpha-200);
}

.secundario{
  background-color: var(--button-primary-hover);
  color: var(--button-secondary-hover);
}